# operating system
.DS_Store

# ide
.settings/
.classpath
.project
bin/
.idea

# build tool
.gradle/
build/

classes/
log/
testDB/
src/main/resources/version.txt
src/test/resources/application.properties
src/test/resources/test.properties
/activemq-data/
*-lastrun.txt
node_modules
data/
sonar-project.properties
.scannerwork/
hub-alert.iml
coverage/