.notification {
	padding-left: 3px;
	padding-right: 3px;
}

.highVulnerability {
	padding-left: 3px;
	padding-right: 3px;
	color: #9c251f;
}

.mediumVulnerability {
	padding-left: 3px;
	padding-right: 3px;
	color: #e78c87;
}

.lowVulnerability {
	padding-left: 3px;
	padding-right: 3px;
	color: #999;
}

.vulnerability {
	padding-left: 3px;
	padding-right: 3px;
	color: rgb(221, 221, 221);
}

.policyViolationCleared {
	padding-left: 3px;
	padding-right: 3px;
	color: #3c763d;
}

.policyViolationOverride {
	padding-left: 3px;
	padding-right: 3px;
	color: #444;
}

.policyViolation {
	padding-left: 3px;
	padding-right: 3px;
	color: #a94442;
}

.inline {
	display: inline-block;
}

.legendContainer {
	border: 1px solid #eee;
	width: fit-content;
}

.legendDescription {
	display: inline-block;
	width: 150px;
}
