.scrollable {
    position: relative;
    overflow-y: scroll;
}

.hidden {
    display: none;
}

.contentBlock {
    composes: scrollable;
    padding: 0px;
    font-size: 12px;
    height: 300px;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
}

.textInput{
    width: 50%;
}

.inline {
    display: inline-block;
}

.fieldLabel {
    composes: inline;
    padding: 10px;
}

.fieldLabel:after {
    content: ":"
}