.textInput, .numberInput{
    width: 50%;
}

.inline {
    display: inline-block;
}

.fieldLabel {
    composes: inline;
    text-align: right;
    padding: 10px;
    width: 30%;
}

.fieldLabel:after {
    content: ":"
}


.fieldError {
    color: red;
    text-align: center;
}

.typeAheadField {
	composes: textInput inline;
    top: 10px;
}
