input {
    border-radius: $border-radius;
}
.textInput {
    width: 100%;
}

.textInput::placeholder {
    color: black;
}

.inline {
    display: inline-block;
}

.fieldError {
    color: #a94442;
    padding: 4px 0;
}
.Select-control {
    border-radius: $border-radius;
}
.typeAheadField, .accumulatorTypeAheadField {
    display: inline-block;
    width: 100%;
}