input {
    border-radius: 2px !important;
}
.textInput {
    width: 100%;
}

.textInput::placeholder {
    color: black;
}

.inline {
    display: inline-block;
}

.fieldError {
    color: #a94442;
    padding: 4px 0;
}

.typeAheadField {
	composes: inline;
    width: 100%;
}

.accumulatorTypeAheadField {
    composes: typeAheadField;
}
