.hidden {
	display: none;
}

.wrapper {
    padding: 0px;
    font-size: 13px;
    height: 100%;
    width: 100%;
    font-family: Verdana;
    display: inline-block;
    position: absolute;
}

.advanced {
	cursor: pointer;
	padding-right: 10px;
	color: #285f8f;
	text-align: right;
}

.alignCenter {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.submitButtons {
    margin-right: 10px;
	color: #fff;
    background: #285f8f;
    text-align: center;
    padding: 5px 10px 5px 10px;
    font-size: 1em;
    display: inline-block;
}

.submitContainers {
    display: inline-block;
    margin: 5px;
    text-align: right;
    width: 100%;
}

.configurationError {
    color: red;
    text-align: center;
}

.loginContainer {
	width: 100vw; 
	height: 100vh;
	display: flex;
    align-items: center;
    justify-content: center;
}

.loginBox {
	background-color: #fff;
    overflow: hidden;
    min-height: 175px;
    box-shadow: 0 0 5px #333;
    max-width: 500px;
    min-width: 300px;
    position: fixed;
    width: 100%;
    border: 0;
    margin-bottom: 20px;
}

.border {
    border: 3px solid #ccc;
}

.tab {
    background-color: white;
    color: black;
    position: relative;
    list-style: none;
}

.tab:hover {
    background-color: #ddd;
}

.configTabs {
    composes: border tab;
     width: 10%;
    padding: 10px;
    display: inline;
    border-radius: 15px 15px 0px 0px;
}

.channelTabs {
    composes: border tab;
    float: left;
    border-radius: 20px;
    height: 70px;
    line-height: 64px;
    width: 70px;
    margin: 10px;
    text-align: center;
}

.tabContainer {
    margin-top: 30px;
}

.tabContent {
    padding: 0px 12px 0px 12px;
    border-collapse: collapse;
    text-align: left;
}

.tabSelected {
    background-color: #235483;
    color: white;
}

.alertHeader {
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 2.5em;
    padding-top: 50px;
}

.alertHeaderTag {
    margin: 0 auto;
    padding-top: 10px;
}


.table {
	display: table;
    margin: 0 auto;
}

.tableBorder {
    composes: border;
    margin: 0 auto;
    margin-top: 10px;
    width: 75%;
    padding: 10px;
    background-color: white;
    position: relative;
    overflow: hidden;
}