// Adding this class because react-bootstrap-table seems to be incorrectly applying this class to the search bar of the table
.input-group-sm > .form-control {
  height: auto;
}

.react-bs-table-bordered {
  border-radius: $border-radius !important;
  margin-top: 10px;
}

.react-bs-table-add-btn,
.react-bs-table-del-btn {
  line-height: 1.4em;
  .fa {
    margin-right: 7px;
  }
}

.statusSuccess {
  color: #3c763d;
}

.statusFailure {
  color: #9c251f;
}

.statusPending {
  color: #999;
}

.tableButton {
  border: 1px solid transparent;
}

.addJobButton {
  border: 1px solid darken(#337ab7, 5%);
  background-color: #337ab7;
  color: #FFFFFF;
  &:hover {
    background-color: darken(#337ab7, 10%);
    border-color: darken(#337ab7, 17%);
    color: #FFFFFF;
  }
}

.deleteJobButton {
  border: 1px solid darken($color-danger, 5%);
  background-color: $color-danger;
  color: #FFFFFF;
  &:hover {
    background-color: darken($color-danger, 10%);
    border-color: darken($color-danger, 17%);
    color: #FFFFFF;
  }
}

.editJobButton {
  color: #285f8f;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
  padding-bottom: 0;
}

.editJobButtonDisabled {
  color: #cecece;
  padding: 6px 12px;
  border: 3px solid transparent;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
  padding-bottom: 0;
}

.table {
  width: 100%;
}

.tableRow {
  cursor: pointer;
}

.tableEvenRow {
  cursor: pointer;
  background-color: #f9f9f9;
}

.tableCell {
  vertical-align: middle !important;
}

.scrollable {
  position: relative;
  overflow-y: scroll !important;
  overflow-x: hidden;
}

.projectTableScrollableBody {
  position: relative;
  overflow-y: scroll !important;
  overflow-x: hidden;
  height: 200px !important;
  width: 100%;
}

.tableScrollableBody, .auditTableScrollableBody {
  position: relative;
  overflow-y: scroll !important;
  overflow-x: hidden;
  width: 100%;
}

.tableScrollableBody {
  height: 55vh !important;
}

.auditTableScrollableBody {
  height: 50vh !important;
}

.expandableContainer {
  border-radius: $border-radius;
  border: 1px solid $border-color;
  background-color: white;
  overflow-y: scroll !important;
  padding-top: 15px;
}

.iconTableRow {
  width: 35px;
}

.react-bs-table-container {
  margin-bottom: 15px;
}

.react-bs-table-search-form {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.react-bs-table-tool-bar {
  margin-bottom: 8px;
}

.react-bs-table-search-form {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.react-bs-table .table-bordered > thead > tr > td,
.react-bs-table .table-bordered > thead > tr > th {
  border-bottom-width: 1px;
}

.tableContainer {
  padding: 15px;
}

.textArea {
  width: 100%;
}

.auditContentTextArea {
  width: 100%;
  height: 50vh !important;
}

