.react-bs-table-bordered {
    border-radius: 2px !important;
}
.statusSuccess {
	color: #3c763d;
}

.statusFailure {
	color: #9c251f;
}

.statusPending {
    color: #999;
}

.tableButton {
	cursor: pointer;
	color: #fff;
    display: inline-block;
    border: 1px solid transparent;
    text-align: center;
    vertical-align: middle;
    font-size: 13px;
}

.addJobButton {
    cursor: pointer;
    color: #fff;
    display: inline-block;
    border: 1px solid transparent;
    text-align: center;
    vertical-align: middle;
    font-size: 13px;
    background-color: #285f8f;
}

.deleteJobButton {
    cursor: pointer;
    color: #fff;
    display: inline-block;
    border: 1px solid transparent;
    text-align: center;
    vertical-align: middle;
    font-size: 13px;
    background-color: #ef4923;
}

.editJobButton {
    color: #285f8f;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
    padding-bottom: 0;
}

.table {
    width: 100%;
}

.tableRow {
    cursor: pointer;
}

.tableEvenRow {
    cursor: pointer;
    background-color: #f9f9f9;
}

.tableCell {
    vertical-align: middle !important;
}

.scrollable {
    position: relative;
    overflow-y: scroll !important;
    overflow-x: hidden;
}

.projectTableScrollableBody {
    position: relative;
    overflow-y: scroll !important;
    overflow-x: hidden;
    height: 200px !important;
    width: 100%;
}

.tableScrollableBody {
    position: relative;
    overflow-y: scroll !important;
    overflow-x: hidden;
    height: 55vh !important;
    width: 100%;
}

.expandableContainer {
    border-radius: 15px 15px 15px 15px;
    border: 1px solid #c3c3c3;
    background-color: white;
    overflow-y: scroll !important;
}

.auditDetailsTable {
    width: 100%;
    margin-left: 10px;
    margin-right: 5px;
}

.auditDetailsTableBody {
    position: relative;
    overflow-y: scroll !important;
    overflow-x: hidden;
    height: 150px !important;
}
