.statusSuccess {
	color: green;
}

.statusFailure {
	color: red;
}

.tableButton {
	cursor: pointer;
	color: #fff;
    display: inline-block;
    border: 1px solid transparent;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
}

.addJobButton {
	composes: tableButton;
    background: #285f8f;
}

.deleteJobButton {
	composes: tableButton;
    background: #ef4923;
}

.editJobButton {
    composes: tableButton;
    background: #285f8f;
    margin-left: auto;
    margin-right: auto;
}

.table {
    width: 98%;
}

.tableRow {
    cursor: pointer;
}

.tableCell {
    vertical-align: middle !important;
}

.scrollable {
    position: relative;
    overflow-y: scroll !important;
    overflow-x: hidden;
}

.projectTableScrollableBody {
    composes: scrollable;
    height: 200px !important;
    width: 100%;
}

.tableScrollableBody {
    composes: scrollable;
    height: 66vh !important;
    width: 100%;
}

.expandableContainer {
    border-radius: 15px 15px 15px 15px;
    border: 1px solid #c3c3c3;
    background-color: white;
    height: 98%;
    width: 98%;
}
