.tab {
    color: #ddd;
    position: relative;
    list-style: none;
    cursor: pointer;
    transition: border-color .5s ease-out;
    line-height: 1em;
    font-size: 1em;
}

.tab:hover {
    text-decoration: underline;
}

.configTabs {
    composes: tab;
    width: 10%;
    padding: 10px;
    display: inline;
    border-radius: 15px 15px 0px 0px;
}

.channelTabs {
    composes: tab;
    float: left;
    border-radius: 20px;
    height: 70px;
    line-height: 64px;
    width: 80px;
    margin: 10px;
    text-align: center;
}

.tabContainer {
    margin-top: 75px;
}

.tabContent {
    padding: 0px 12px 0px 12px;
    border-collapse: collapse;
    text-align: left;
}

.tabSelected {
    color: #235483;
    text-decoration: underline;
}
