.tab {
    border: #e6e6e6 1px solid;
    background-color: #fafafa;
    color: black;
    position: relative;
    list-style: none;
    cursor: pointer;
    transition: border-color .5s ease-out;
}

.tab:hover {
    text-decoration: underline;
}

.configTabs {
    composes: tab;
    width: 10%;
    padding: 10px;
    display: inline;
    border-radius: 15px 15px 0px 0px;
}

.channelTabs {
    composes: tab;
    float: left;
    border-radius: 20px;
    height: 62px;
    line-height: 64px;
    width: 115px;
    margin: 10px;
    text-align: left;
    padding-left: 20px;
}

.tabContainer {
    margin-top: 75px;
}

.tabContent {
    padding: 0px 12px 0px 12px;
    border-collapse: collapse;
    text-align: left;
}

.tabSelected {
    background-color: #235483;
    color: white;
}

.subTable {
    display: inline-flex;
    margin: 0 auto 20px auto;
}

.subTab {
    position: relative;
    list-style: none;
    cursor: pointer;
    transition: color .5s ease-out;
    transition: opacity .5s ease-out;
    transition: font-size 2s ease-out;
    line-height: 1em;
    font-size: 1em;
    float: left;
    border-radius: 20px;
    height: 60px;
    line-height: 64px;
    width: 120px;
    margin: 5px;
    text-align: left;
    color: #235483;
}
.subTabSelected {
    color: #EF4823;
    text-decoration: underline;
}
.subTabContainer {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ddd;
}
.subTabScrollableContainer {
    overflow-x: auto;
}

.tabTitle {
    display: block;
    margin: 3px;
    text-align: center;
    font-size: 40px;
    line-height: 40px;
}

.tabTitle:hover {
    opacity: 0.602128623;
    text-decoration: underline;
    font-size: 48px;
    line-height: 48px;
}

.titleText {
    font-size: 16px;
    line-height: 16px;
}

.tabIcon {
    width: 50px;
    height: 50px;
}
