$base-background-color: #ddd;
$base-font-size: 14px;
$base-font-weight: 400;

$border-color: #ddd;
$border-radius: 3px;

$button-font-size: 12px;

$navigation-background-color: #2d343e;
$navigation-border: 1px solid #444;
