@import 'variables';

.settingsWrapper {
  padding: 0px;
  font-size: $base-font-size;
  height: 100%;
  width: 100%;
  font-family: 'Roboto', 'Arial', sans-serif;
  display: inline-block;
  position: relative;
}

.settingsContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.settingsBox {
  background-color: $synopsys-color-section-background;
  border: 0;
  border-radius: $border-radius;
  box-shadow: 1px 1px 10px $synopsys-color-light-gray;
  margin-top: 5px;
  margin-bottom: 29px;
  max-width: 550px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
