<!DOCTYPE html>
<html>
    <head lang="en">
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
		<script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <link rel="icon" href="favicon.ico" type="image/x-icon"/>
        <meta charset="UTF-8" />
        <title>Black Duck Alert</title>
    </head>

    <body style="margin: 0px">
        <div id="react"></div>
    </body>
</html>