<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://npmcdn.com/react-bootstrap-table/dist/react-bootstrap-table.min.css" />
		<script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
        <link rel="icon" href="favicon.ico" type="image/x-icon"/>
        <meta charset="UTF-8" />
        <title>Black Duck Alert</title>
    </head>

    <body style="margin: 0px">
        <div id="react"></div>
        <script src="built/bundle.js"></script>
    </body>
</html>