@import 'variables';

.blackduckLogoSpan {
  display: inline-flex;
  font-family: 'Roboto', 'Arial', sans-serif;
  line-height: 1.25em;
}

.synopsysHeaderLogo {
  background: none;
  margin: auto;
  width: auto;
  max-height: 17px;
}

.synopsysHeaderLogoVerticalBarSpace {
  margin-left: 8px;
  margin-right: 8px;
}

.blackduckFooterLogo {
  background: none;
  margin: auto;
  width: auto;
  max-height: 14px;
}

.logoContainer {
  display: flex;
  align-items: center;
  column-gap: 6px;
}

.logoDivider {
  border-left: solid 1px;
  height: 11px;
  margin-top: 2px
}

.headerStandardSize {
  display: inline-flex;
  margin-bottom: 3px;
  font-size: 1.25em;
  font-weight: lighter;
}