@import 'variables';

// Adding this class because react-bootstrap-table seems to be incorrectly applying this class to the search bar of the table
.input-group-sm > .form-control {
  height: auto;
}

.react-bs-table-bordered {
  border-radius: $border-radius !important;
  margin-top: 10px;
}

.react-bs-table-add-btn,
.react-bs-table-del-btn {
  line-height: 1.4em;

  .fa {
    margin-right: 7px;
  }
}

.statusSuccess {
  color: $synopsys-color-platform-green;
}

.statusFailure {
  color: $synopsys-color-platform-red;
}

.statusPending {
  color: $synopsys-color-light-gray;
}

.tableButton {
  border: 1px solid transparent;
}

.addJobButton {
  border: 1px solid darken($synopsys-color-platform-blue, 5%);
  background-color: $synopsys-color-platform-blue;
  color: $synopsys-color-section-background;

  &:hover {
    background-color: darken($synopsys-color-platform-blue, 10%);
    border-color: darken($synopsys-color-platform-blue, 17%);
    color: $synopsys-color-section-background;
  }
}

.deleteJobButton {
  border: 1px solid darken($color-danger, 5%);
  background-color: $color-danger;
  color: $synopsys-color-section-background;

  &:hover {
    background-color: darken($color-danger, 10%);
    border-color: darken($color-danger, 17%);
    color: $synopsys-color-section-background;
  }
}

.jobIconButton {
  color: $synopsys-color-midnight-blue;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
  padding-bottom: 0;
}

.jobIconButtonDisabled {
  color: $synopsys-color-lightest-gray;
  padding: 6px 12px;
  border: 3px solid transparent;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
  padding-bottom: 0;
}

.table {
  width: 100%;
  clear: right;
}

.tableRow {
  cursor: pointer;
}

.tableEvenRow {
  cursor: pointer;
  background-color: $synopsys-color-lightest-gray;
}

.tableCell {
  vertical-align: middle !important;
  word-wrap: break-word;
}

.scrollable {
  position: relative;
  overflow-y: scroll !important;
  overflow-x: hidden;
}

.tableScrollableBody {
  position: relative;
  overflow-y: scroll !important;
  overflow-x: hidden;
  width: 100%;
  max-height: 55vh !important;
}

.tableScrollableBody, .auditTableScrollableBody {
  position: relative;
  overflow-y: scroll !important;
  overflow-x: hidden;
  width: 100%;
}

.auditTableScrollableBody {
  height: 50vh !important;
}

.expandableContainer {
  border-radius: $border-radius;
  border: 1px solid $border-color;
  background-color: $synopsys-color-section-background;
  overflow-y: inherit !important;
  padding-top: 15px;
}

.iconTableRow {
  width: 35px;
}

.react-bs-table-container {
  margin-bottom: 15px;
}

.react-bs-table-search-form {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.react-bs-table-tool-bar {
  margin-bottom: 8px;
}

.react-bs-table-search-form {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.react-bs-table .table-bordered > thead > tr > td,
.react-bs-table .table-bordered > thead > tr > th {
  border-bottom-width: 1px;
}

.tableContainer {
  padding: 15px;
}

.textArea, .auditContentTextArea {
  width: 100%;
  resize: both;
}

.auditContentTextArea {
  height: 50vh !important;
}

.auditJobDetails {
  width: 100%
}

.tableCheckbox {
  font-weight: normal;
  color: #B1B3B3;
}

.synopsysGreen {
  color: $synopsys-color-green;
}

.synopsysRed {
  color: $synopsys-color-platform-red;
}

