$blackduck-color-light-gray: #B1B3B3;
$blackduck-color-lightest-gray: #E8E7E5;
$blackduck-color-blue: #4C9EC9;
$blackduck-color-yellow: #FCAF1A;

$blackduck-color-section-background: #F7F7FA;
$blackduck-color-platform-red: #E03C31;
$blackduck-color-platform-blue: #1A87BB;
$blackduck-color-subhead-copy: #2E3B4E;

$base-background-color: $blackduck-color-section-background;
$base-font-size: 13px;
$base-font-weight: 400;

$border-color: $blackduck-color-section-background;
$border-radius: 3px;

$page-content-background-color: #f9fafc;
