apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: alert
    component: alert
    name: {{ .Release.Name }} 
  name: {{ .Release.Name }}
  namespace: {{ .Release.Namespace }}
spec:
  {{- if eq .Values.status "Running" }} 
  replicas: 1 
  {{- else }} 
  replicas: 0 
  {{- end }}
  selector:
    matchLabels:
      app: alert
      component: alert
      name: {{ .Release.Name }}
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: alert
        component: alert
        name: {{ .Release.Name }}
      annotations:
        checksum/alert-environ-configmap: {{ include (print $.Template.BasePath "/alert-environ-configmap.yaml") . | sha256sum }}
        checksum/alert-environ-secret: {{ include (print $.Template.BasePath "/alert-environ-secret.yaml") . | sha256sum }}
      name: {{ .Release.Name }}
    spec:
      containers:
      - env:
        - name: RUN_SECRETS_DIR
          value: /tmp/secrets
        envFrom:
        - configMapRef:
            name: {{ .Release.Name }}-environs
        - secretRef:
            name: {{ .Release.Name }}-environs-secret
        {{- if .Values.alert.registry }}
        image: {{ .Values.alert.registry }}/blackduck-alert:{{ .Values.alert.imageTag }}
        {{- else }}
        image: {{ .Values.registry }}/blackduck-alert:{{ .Values.alert.imageTag }} 
        {{- end }}
        imagePullPolicy: Always
        livenessProbe:
          exec:
            command:
              - /usr/local/bin/docker-healthcheck.sh
              - https://localhost:8443/alert/api/about
          failureThreshold: 5
          initialDelaySeconds: 240
          periodSeconds: 30
          timeoutSeconds: 10
        name: blackduck-alert
        ports:
          - containerPort: {{ .Values.alert.port }}
            protocol: TCP
        resources:
          {{- toYaml .Values.alert.resources | nindent 12 }}
        {{- with .Values.alert.securityContext }}
        securityContext:
{{ toYaml . | indent 10 }}
        {{- end }}
        volumeMounts:
        - mountPath: /opt/blackduck/alert/alert-config
          name: dir-alert
        {{- if .Values.webserverCustomCertificatesSecretName }}
        - mountPath: /tmp/secrets/WEBSERVER_CUSTOM_CERT_FILE
          name: certificate
          subPath: WEBSERVER_CUSTOM_CERT_FILE
        - mountPath: /tmp/secrets/WEBSERVER_CUSTOM_KEY_FILE
          name: certificate
          subPath: WEBSERVER_CUSTOM_KEY_FILE
        {{- end }}
        {{- if .Values.javaKeystoreSecretName }}
        - mountPath: /tmp/secrets/cacerts
          name: java-keystore
          subPath: cacerts
        {{- end }}
      dnsPolicy: ClusterFirst
      {{- include "alert.imagePullSecrets" . | nindent 6 -}}
      {{- with .Values.alert.nodeSelector }}
      nodeSelector:
      {{ toYaml . | indent 2 }}
      {{- end }}
      {{- with .Values.alert.affinity }}
      affinity:
      {{ toYaml . | indent 2 }}
      {{- end }}
      {{- with .Values.alert.tolerations }}
      tolerations:
      {{ toYaml . | indent 2 }}
      {{- end }}
      {{- with .Values.alert.podSecurityContext }}
      securityContext:
{{ toYaml . | indent 8 }}
      {{- end }}
      volumes:
      {{- if .Values.enablePersistentStorage }}
      - name: dir-alert
        persistentVolumeClaim:
          claimName: {{if .Values.alert.persistentVolumeClaimName}} {{.Values.alert.persistentVolumeClaimName}} {{else}} {{ .Release.Name }}-pvc {{end}}
      {{- else }}
      - emptyDir: {}
        name: dir-alert
      {{- end }}
      {{- if.Values.webserverCustomCertificatesSecretName }}
      - name: certificate
        secret:
          defaultMode: 292
          secretName: {{ .Values.webserverCustomCertificatesSecretName }}
      {{- end }}
      {{- if .Values.javaKeystoreSecretName }}
      - name: java-keystore
        secret:
          defaultMode: 292
          secretName: {{ .Values.javaKeystoreSecretName }}
      {{- end }}
---

apiVersion: v1
kind: Service
metadata:
  labels:
    app: alert
    component: alert
    name: {{ .Release.Name }}
  name: {{ .Release.Name }}
  namespace: {{ .Release.Namespace }}
spec:
  ports:
    - name: port-{{ .Values.alert.port }}
      port: {{ .Values.alert.port }}
      protocol: TCP
      targetPort: {{ .Values.alert.port }}
  selector:
    app: alert
    component: alert
    name: {{ .Release.Name }}
  type: ClusterIP
---

{{- if and .Values.enablePersistentStorage (not .Values.alert.persistentVolumeClaimName) }}
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  labels:
    app: alert
    component: alert
    name: {{ .Release.Name }}
  name: {{ .Release.Name }}-pvc
  namespace: {{ .Release.Namespace }}
spec:
  {{- if .Values.alert.storageClass }}
  storageClassName: {{ .Values.alert.storageClass }}
  {{- else if .Values.storageClass }}
  storageClassName: {{ .Values.storageClass }}
  {{- end}}
  {{ if .Values.alert.volumeName -}}
  volumeName: {{ .Values.alert.volumeName }}
  {{ end -}}
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ .Values.alert.claimSize }}
---
{{- end }}

{{ if and .Values.exposeui (eq .Values.exposedServiceType "OpenShift" ) -}}
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  labels:
    app: alert
    component: route
    name: {{ .Release.Name }}
  name: {{ .Release.Name }}
  namespace: {{ .Release.Namespace }}
spec:
  host: ""
  port:
    targetPort: port-{{ .Values.alert.port }}
  tls:
    termination: passthrough
  to:
    kind: Service
    name: {{ .Release.Name }}
    weight: 100
  wildcardPolicy: None
status:
  ingress:
    - host: ""
{{ else if .Values.exposeui }}
apiVersion: v1
kind: Service
metadata:
  labels:
    app: alert
    name: {{ .Release.Name }}
    component: alert
  name: {{ .Release.Name }}-exposed
  namespace: {{ .Release.Namespace }}
spec:
  ports:
    - name: port-{{ .Values.alert.port }}
      port: {{ .Values.alert.port }}
      protocol: TCP
      targetPort: {{ .Values.alert.port }}
  selector:
    app: alert
    component: alert
    name: {{ .Release.Name }}
  type: {{ .Values.exposedServiceType }}
---
{{- end }}
