---
apiVersion: v1
data:
  {{- if not .Values.rabbitmq.isExternal }}
  ALERT_RABBITMQ_HOST: {{ .Release.Name }}-rabbitmq
  {{- else }}
  ALERT_RABBITMQ_HOST: {{ required "must provide --set rabbitmq.host=\"\"" .Values.rabbitmq.host }}
  {{- end }}
  ALERT_RABBITMQ_PORT: {{ required "must provide --set rabbitmq.port=\"\"" .Values.rabbitmq.port | quote }}
  {{- if not .Values.rabbitmq.credential.secretName }}
  ALERT_RABBITMQ_USER: sysadmin
  ALERT_RABBITMQ_PASSWORD: blackduck
  {{- end }}
  ALERT_RABBITMQ_VHOST: {{ required "must provide --set rabbitmq.virtualHost=\"\"" .Values.rabbitmq.virtualHost}}
kind: ConfigMap
metadata:
  labels:
    app: alert
    component: rabbitmq
    name: {{ .Release.Name }}
  name: {{ .Release.Name }}-rabbitmq-config
  namespace: {{ .Release.Namespace }}
