registry=https://artifactory.tools.duckutil.net/artifactory/api/npm/npm-virtual/


# email=serv-builder@blackducksoftware.com
# @fortawesome:registry=https://npm.fontawesome.com/
# //npm.fontawesome.com/:_authToken=A167D1B4-34E5-4F24-A3A8-76EA61E0A0C4 